
.clip-preview {
  height: 75px !important;
  width: 200px !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
}

.clippath {
  background-repeat: no-repeat;
  background-size: contain;
  height:150px;
}

.address {
  background-image: url(undraw_address.svg);
}

.agreement {
  background-image: url(undraw_agreement.svg);
}

.blog {
  background-image: url(undraw_blog.svg);
}

.browser {
  background-image: url(undraw_browser_stats.svg);
}

.business-plan {
  background-image: url(undraw_business_plan.svg);
}

.calendar {
  background-image: url(undraw_calendar.svg);
}

.charts {
  background-image: url(undraw_charts.svg);
}

.creative-team {
  background-image: url(undraw_creative_team.svg);
}

.dashboard {
  background-image: url(undraw_dashboard.svg);
}

.data {
  background-image: url(undraw_data.svg);
}

.devices {
  background-image: url(undraw_devices.svg);
}

.fast-loading {
  background-image: url(undraw_fast_loading.svg);
}

.hiring {
  background-image: url(undraw_hiring.svg);
}

.in-sync {
  background-image: url(undraw_in_sync.svg);
}

.map {
  background-image: url(undraw_map.svg);
}

.messages {
  background-image: url(undraw_messages.svg);
}

.onboarding {
  background-image: url(undraw_onboarding.svg);
}

.organize-resume {
  background-image: url(undraw_organize_resume.svg);
}

.photo {
  background-image: url(undraw_photo.svg);
}

.pie-chart {
  background-image: url(undraw_pie_chart.svg);
}

.portfolio  {
  background-image: url(undraw_portfolio.svg);
}

.posts {
  background-image: url(undraw_posts.svg);
}

.programming {
  background-image: url(undraw_programming.svg);
}

.realtime-sync {
  background-image: url(undraw_real-time_sync.svg);
}

.report {
  background-image: url(undraw_report.svg);
}

.resume-folder {
  background-image: url(undraw_resume_folder.svg);
}

.safe {
  background-image: url(undraw_safe.svg);
}

.search {
  background-image: url(undraw_search.svg);
}

.secure-data {
  background-image: url(undraw_secure_data.svg);
}

.server {
  background-image: url(undraw_server.svg);
}

.setup {
  background-image: url(undraw_setup.svg);
}

.site-stats {
  background-image: url(undraw_site_stats.svg);
}

.static-assets {
  background-image: url(undraw_static_assets.svg);
}

.tabs {
  background-image: url(undraw_tabs.svg);
}